.host {
    display: flex;
    img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }
    &_title{
        width: 50px;
        @media screen and (min-width: 768px){
            width: 100%;
        }
    }
}