.imageSlider {
    position: relative;
    width: 100%;
    height: 400px;
    padding: 0 40px;
    border-radius: 20px;
    @media screen and (max-width: 768px) {
        height: 325px;
    }

    &_counter {
        position: absolute;
        bottom: 50px;
        right: 50%;
        color: white;
        @media screen and (max-width: 768px) {
           display: none;
            
        }
    }
    img {
        height: 100%;
        width: 100%;
        object-fit: cover;
        border-radius: 20px;
    }
    .arrow-left {
        position: absolute;
        left: 60px;
        top: 50%;
        width: 50px;
        height: 50px;
        border: solid white;
        border-width: 0 6px 6px 0;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        transform: rotate(135deg);
        @media screen and (max-width: 768px) {
            width: 25px;
            height: 25px;
            border-width: 0 3px 3px 0;
        }
    }
    .arrow-right {
        position: absolute;
        right: 60px;
        top: 50%;
        width: 50px;
        height: 50px;
        border: solid white;
        border-width: 0 6px 6px 0;
        display: inline-block;
        background-color: rgba(255, 255, 255, 0);
        cursor: pointer;
        transform: rotate(-45deg);
        @media screen and (max-width: 768px) {
            width: 25px;
            height: 25px;
            border-width: 0 3px 3px 0;
        }
    }
}