.header {
  grid-area: headerContenair;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &_nav {
    width: 50%;
    ul {
      display: flex;
      justify-content: flex-end;
      li {
        margin-right: 5%
      }
      a {
        color:$color-1;
        &:hover {
          border-bottom: 1px solid $color-1;
        }
      }
    }
  }
  &_logo {
    width: 50%;
  }
}

img {
  width: 100px;
  height: 100px;
}
