$color-1 : #FF6060;
$color-2 : #F7F7F7;
$filter : linear-gradient(rgba(65, 65, 65, 0.502), rgba(65, 65, 65, 0.502)), ;

@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
}

h1 {
   font-size: 48px;
   @media screen and (max-width: 768px) {
    font-size: 24px;
   }
   }

h2 {
    font-size: 36px;
    @media screen and (max-width: 768px) {
        font-size: 18px;
    }
}

h3 {
    font-size: 24px;
    @media screen and (max-width: 768px) {
        font-size: 12px;
    }
}