.banner {
  background: $filter
    no-repeat center center/cover;
    position: relative;
  img {
    height: 100%;
    width: 100%;
    z-index: -1;
    border-radius: 15px;
    min-height: 100px;
    object-fit: cover;
  }
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100px;
  margin: 40px;
  h1 {
    color: white;
    margin-left: 1rem;
    position: absolute;
  }
}
