.accomodation {
  position: relative;
  width: 30%;
  min-width: 30%;
  flex-grow: 2;
  
  @media screen and (max-width: 768px) {
    width: auto;
    min-width: 100%;
    flex-grow: 1;
  }
  article {
    height: 300px;
  }
  img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
  }
  p {
    position: absolute;
    bottom: 0;
    margin: 10px;
    color: white;
  }
}
